body{
    background-color: lightgray;
    justify-content: center;
    align-items:center;
    height: 100vh;
    display: flex;
}
.todo-container{
    width: 300px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 20px;

}
.todo-item-text{
    margin: 10px;
}

.todo-header{
        font-weight: bold;
}

.todo-item{
    justify-content: space-between;
    align-items: center;
    display: flex;

}
.todo-button{
    width: 100%;
  background-color: #4CAF50; 
  border: none; 
  color: white; 
  padding: 15px 32px; 
  text-align: center;
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px; 
  transition: background-color 0.3s, 
}
.dot{
    font-weight: bold;
}